# Environments
venv/
.venv/
env/
ENV/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo

# IDEs and Tools
.idea/
.vscode/
.agents/

# OS Files
.DS_Store

# Logs
*.log

# Testing
.pytest_cache/

# Local Configurations
devices.json
quick_modes.json
